notebook/training/dataset_creation/*
notebook/training/lightning_logs/*
src/__pycache__/*
src/datamodule/__pycache__/*
src/dataset/__pycache__/*
src/model/__pycache__/*
dataset_creation/*
onnx/onnx_outputs/*